<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.red_six.disasterapp">
    <!--enable reading and writing to a file-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_red_six"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".RegisterUser"
            android:label="Register User"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".Severity"
            android:label="Severity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Help"
            android:label="Help"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Alright"
            android:label="Alright"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".home"
            android:label="home"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".PlayVideo"
            android:label="PlayVideo"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".EnterAddress"
            android:label="@string/title_activity_enter_address"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>



</manifest>